@use 'util/typography';
@use 'util/variables';

@use 'components/nav';
@use 'components/buttons';
@use 'components/sections';
@use 'components/project_card';
@use 'components/chip';
@use 'components/card';

@use 'animation/tal';

@use 'sections/hero';
@use 'sections/projects';
@use 'sections/about';
@use 'sections/footer';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: variables.$background;

    min-height: 200vh;
}

section > .content,
nav > .content,
footer > .content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4rem;
}

::selection {
    background-color: variables.$primary;
    color: variables.$text-on-primary;
}