@use '../util/variables';
@use '../util/mixins';

section#about {
    .content {
        .layout {
            display: flex;
            gap: 3rem;
            margin-top: 3rem;
            align-items: flex-start;

            flex-direction: row;
            @include mixins.tablet {
                flex-direction: column;
            }

            perspective: 1500px;

            .card {
                flex: 1 1 0px;
            }

            #about-me-code-card {
                padding: 1rem;
                margin-top: -6rem;

                @include mixins.tablet {
                    margin-top: 0;
                    width: 100%;
                }

                code {
                    background: transparent;
                }
            }
        }
    }
}