@use '../util/variables';

section#hero {
    height: 100vh;

    .content {
        display: flex;
        height: 100%;

        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 5rem;
                color: variables.$text-title;
            }
            p {
                margin-top: 1rem;
                font-size: 1.5rem;
                color: variables.$text-subtitle;
            }

            .actions {
                display: flex;
                gap: 1rem;
                margin-top: 3rem;
            }
        }

        .right {
            img {
                width: 25rem;
                rotate: 10deg;
            }

            svg {
                width: 35rem;
                border: 1px solid variables.$stroke;
                border-radius: 50%;

                #glass-gradient {
                    .stop-1 {
                        stop-color: variables.$glass-stop-one;
                    }
                    .stop-2 {
                        stop-color: variables.$glass-stop-two;
                    }
                }

                .bg-circle-glass {
                    fill: url(#glass-gradient);
                }
                .bg-circle {
                    fill: variables.$overlay-two;
                }

                .dot-grid {
                    transform: rotate(-20deg);
                    transform-origin: 50%;
                    filter: blur(4px);
                    opacity: 30%;

                    transition-property: transform, filter;
                    transition-duration: 1s;
                    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                }

                .image {
                    transform: rotate(10deg);
                    transform-origin: 50%;
                    
                    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                }

                &:hover {
                    .dot-grid {
                        transform: rotate(-10deg) scale(1.2);
                        filter: blur(8px);
                    }
                    image {
                        transform: rotate(13deg) scale(1.05);
                    }
                }
            }
        }
    }
}
