@use '../util/variables';

section#projects {
    .layout {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        margin-top: 3rem;

        #project_boolean-expression-parser {
            .right {
                img {
                    object-position: left;
                }
            }
        }

        #project_simpliplan {
            .right {
                img {
                    object-position: center;
                }
            }
        }

        #project_tomscript {
            .right {
                img {
                    object-position: left;
                }
            }
        }
    }
}
