@use '../util/variables';
@use '../util/mixins';

section#projects {
    .content {
        .layout {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;

            gap: 6rem;
            @include mixins.tablet {
                gap: 9rem;
            }

            perspective: 1500px;

            #project_noterly {
                .right {
                    img {
                        object-position: top;
                    }
                }
            }

            #project_boolean-expression-parser {
                .right {
                    img {
                        object-position: left;
                    }
                }
            }

            #project_simpliplan {
                .right {
                    img {
                        object-position: center;
                    }
                }
            }

            #project_tomscript {
                .right {
                    img {
                        object-position: left;
                    }
                }
            }
        }

        > .actions {
            margin-top: 6rem;
            @include mixins.tablet {
                margin-top: 9rem;
            }

            .button {
                margin-top: 2rem;
            }
        }
    }
}
