$background: #212126;
$background-alt: #4A4B69;

$text-title: #FFD0D0;
$text-subtitle: #B89696;
$text-body: #C7B4B4;

$overlay-gradient: linear-gradient(165deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
$stroke: rgba(255,255,255,0.1);

$nav-height: 7.5rem;