@use '../util/variables';

.button {
    text-decoration: none;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;

    padding: 1rem 3rem;
    > iconify-icon {
        font-size: 1.25rem;
    }
    &.big {
        padding: 1.25rem 4rem;
        font-size: 1.25rem;

        > iconify-icon {
            font-size: 1.5rem;
        }
    }

    &.filled {
        border-radius: variables.$border-radius;
        background-color: variables.$item-background;
        color: variables.$text-body;

        transition-property: transform, box-shadow;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

        &.primary {
            background-color: variables.$primary;
            color: variables.$text-on-primary;
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        }
    }

    &.glass {
    }

    &.outlined {
        color: variables.$primary;
        border: 1px solid variables.$stroke;
        border-radius: variables.$border-radius;
    }

    &.text {
        border: 1px solid transparent;
        border-radius: variables.$border-radius;
        color: variables.$primary;

        transition: border 1s cubic-bezier(0.075, 0.82, 0.165, 1)!important;

        &:hover {
            border: 1px solid variables.$stroke;
        }
    }
}

// Form buttons
button {
    outline: none;
    border: none;
    cursor: pointer;
}
