@use '../util/variables';

.card {
    padding: 3rem;

    background: variables.$glass-gradient, variables.$container-background-two;
    border: 1px solid variables.$stroke;
    border-radius: variables.$border-radius;

    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    
    .content {
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 1rem;
        }

        .chips {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
        }
    }
}
