@use '../util/variables';

section {
    
    padding: 6rem 0;

    > .content {
        > h1 {
            font-size: 2.5rem;
            color: variables.$text-title;
            margin-bottom: 1rem;
        }
    }
}
